{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-COMPATIBLE' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta name='description' content=''>
  <meta name='author' content='mobilnik'>
  <title>CamShot - main</title>
  <!-- Bootstrap -->
  <link href="{ static 'css/bootstrap.min.css' %}" rel='stylesheet'>
    <!-- our css's -->
  <link href="{% static 'page.css' %}" rel='stylesheet'>
    <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
  
  <link href="{% static 'demo.css' %}" media="all" rel="stylesheet" type="text/css" /></link>
  </head>
  


  <body style = "background-color:#FFFAF0">      
  <br>
  <br>
  <br>
  <br>
  <br>


      <table align="center" class="main-container">
      <tr>
        <td colspan="2">
          <h1>Welcome to face recognition project. It allows you to authorize with your face.
          </h1>
        </td>
      </tr>
      <tr>
        <td width="50%">
          	<div class = "href"><a href="/index/"><h2>Sign In</h2></a>
        </td>
        <td width="50%">
          <div class = "href">
          <a href="/reg/"><h2>Registration</h2></a>
          </div>
        </td>
	</div>

	
  </body>
   <footer align="right">
        <h3><a href="/" class="footer-logo">Camshot</a></h3>
      </div>
          <h6 align="right">Information Security Project by Solovyov A., Dianova A., Ulitin I.</h6>
  </footer>
</html>