{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
  
  <head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-COMPATIBLE' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta name='description' content=''>
  <meta name='author' content='mobilnik'>
  <!-- Bootstrap -->
  <link href="{ static 'css/bootstrap.min.css' %}" rel='stylesheet'>
    <!-- our css's -->
  <link href="{% static 'page.css' %}" rel='stylesheet'>
    <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
  
  <title>Camshot - Log in</title>
  <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
  <script type="text/javascript"
      src="{% static 'jpeg_camera_with_dependencies.min.js' %}"> </script>
  <script type="text/javascript" 
      src="{% static 'demo.js'%}">
  </script>
  <link href="{% static 'demo.css' %}" media="all" rel="stylesheet" type="text/css" /></link>
  </head>
  
  <body style = "background-color:#FFFAF0">      
      <table align="center" class="main-container">
      <tr>
        <td width="30%">
         <button width='100%' id="take_snapshots" class='videoControlButton'>Take more snapshots</button>
         <br>
          <button id="show_stream" class='videoControlButton btn btn-lg btn-primary btn-block'>Show stream</button>
        </td>
        <td width="40%"> 
          <div id="camera" class="center video-mask"></div>
        </td>
        <td width="30%">
          <table align = 'center' width="100%" height ='100%'>
            <tr>
              <td>
                <div id="upload_status" class='response-message' align="center"></div>
                <br>
                <div id="upload_result" class='response-message'align="center"></div>
              </td>
            </tr>
            <tr>
              <td>
              <button id="discard_snapshot" class='videoControlButton btn btn-lg btn-primary btn-block' align="center">Discard snapshot</button>
              </td>
          </tr>
        </table>
         

        </td>
      </tr>
    </table>
     

    <div id="snapshots"></div>

    

    <img src="{% static 'loader.gif' %}" id="loader">
   
  </body>

  <footer align="right">
        <h3><a href="/" class="footer-logo">Camshot</a></h3>
      </div>
          <h6 align="right">Information Security Project by Solovyov A., Dianova A., Ulitin I.</h6>
  </footer>
</html>